<div class="d-flex flex-column">
    <div class="container mt-3 mb-3">
        <p class="titulo text-center text-light">Transportes y Mudanzas Martínez</p>
        <nav class="navbar navbar-expand-lg nav">
            <div class="d-flex align-items-center px-3">
                <a class="navbar-brand">
                    <img src="https://cdn.discordapp.com/attachments/831740786638192653/1065636278399414384/55_sin_titulo_4.png" style="height: 3rem;width: 3rem;">
                </a>
                <a class="nav-link nav-text text-light" routerLink="/inicio">Inicio</a>
                <a class="nav-link nav-text text-light" routerLink="/volados">Volados</a>
            </div>
        </nav>
    </div>
    <hr class="text-light">
    <router-outlet></router-outlet>
</div>
